@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

/* body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@layer base {
   body {
      @apply font-body text-[#3f0101];
   }
}

@layer components {
   .headerLink {
      color: #3f0101;
      @apply relative cursor-pointer opacity-100 transition hover:opacity-70;
   }

   .headerIcon {
      color: #3f0101;
      @apply h-6 w-6 cursor-pointer opacity-100 transition hover:text-white hover:bg-[#3f0101] hover:rounded;
   }

   .link {
      @apply relative cursor-pointer text-lg font-medium;
   }
   .link-before {
      @apply before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100;
   }
}
